[submodule "MyProgressTracker/MyProgressTrackerDependanciesLib"]
	path = MyProgressTracker/MyProgressTrackerDependanciesLib
	url = https://github.com/AyeshPerera25/MyProgressTrackerDependanciesLib.git
