@{
    ViewData["Title"] = "Login Page";
   
}

@model MyProgressTracker.Models.CompositLoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/LoginStyle.css" asp-append-version="true" />
</head>
<body>
	<ejs-message id="msg_default" content="Please read the comments carefully"></ejs-message>
	<a asp-controller="Landing" asp-action ="LandingView" class="logo"> MY <b class="b1">Progress </b><b class="b2"> Tracker</b></a>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
            <div class="signin-container">
				<form id="signInForm"  asp-action="SignIn" method="post" >
					<h1>Create Account</h1>
					<span>Let's know about you.</span>
					<div>
						<input id="fName" asp-for="SiginInViewModel.FirstName" type="text" placeholder="First Name" />
					</div>
					<div>
						<input asp-for="SiginInViewModel.LastName" type="text" placeholder="Last Name" />
					</div>
					<div>
						<input asp-for="SiginInViewModel.Email" type="email" placeholder="Email" />
					</div>
					<div>
						<input id="pwd" asp-for="SiginInViewModel.Password" type="password" placeholder="Password" />
					</div>
					<div>
						<input id="cPwd" asp-for="SiginInViewModel.ConfirmPassword" type="password" placeholder="Confirm Password" />
					</div>
					<button type="submit">Sign Up</button>
					<span asp-validation-for="SiginInViewModel.ConfirmPassword" class="text-danger"></span>
				</form>
            </div>
		</div>
		<div id="isLogIn" data-value="@Model.IsLoggedIn"></div>
		<div class="form-container sign-in-container">
			<form id="loginForm" asp-action="Login" method="post">
				<h1>Login</h1>
				<span>Let's make some progress!'</span>
				<input id="loginMail" asp-for="LoginViewModel.Email" type="email" placeholder="Email" />
				<input id="loginPwd" asp-for="LoginViewModel.Password" type="password" placeholder="Password" />
				@* <a href="#">Forgot your password?</a> *@
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>Already have an account? Let's Login!</p>
					<button class="ghost" id="signIn">Login</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hi, First time in here?</h1>
					<p>Create account and start the journey with us.</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>
			Created <i class="fa fa-heart"></i> by,
			<a target="_blank" href="https://github.com/AyeshPerera25"> Ayesh Perera</a>
			| IIT ID: 20232591 | UOW ID: 20848064 | 7SENG001C Enterprise Application Development – CWK 1 (2024)
		</p>
	</footer>
    <script src="~/js/loginscript.js"></script>
</body>

<script type="text/javascript">
	var modelValue = document.getElementById('isLogIn').getAttribute('data-value');
	const container1 = document.getElementById('container');
	var signInForm = document.getElementById('signInForm');
	console.log(modelValue)
	if (modelValue == 0) {
		signInForm.reset();
		container1.classList.add("right-panel-active");
	}
</script>
</html>