@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/LandingPageStyle.css" asp-append-version="true" />
</head>
<body>
    <div class="bg-image"></div>
    <div class="bg-text">
        <div class="text-center">
            <h1 class="display-4">Predict Your Success!</h1>
        </div>
        <p>Start Now!</p>
        <a asp-controller="Home" asp-action="Login" class="btn btn-primary btn-custom">Log In</a>
        <a asp-controller="Home" asp-action="Register" class="btn btn-secondary btn-custom">Sign Up</a>
    </div>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>